stages:
  - quality
  - test

image: node:22-slim

lint:
  stage: quality
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
  before_script:
    - cd Frontend/Mobile/Dedale
    - npm install -g eas-cli
    - npm install
  script:
    - npx expo lint > mobile_lint.txt || true
  artifacts:
    paths:
      - Frontend/Mobile/Dedale/mobile_lint.txt
    expire_in: 1 week
    when: always
  allow_failure: false

test:
  stage: test
  rules:
    - if: $CI_COMMIT_BRANCH != "dev_mobile" || $CI_COMMIT_BRANCH != "develop"
  before_script:
    - cd Frontend/Mobile/Dedale
    - npm install -ci
    - npm install expo-asset
  script:
    - npm test
  artifacts:
    paths:
      - Frontend/Mobile/Dedale/junit.xml
    expire_in: 1 week
    when: always
  allow_failure: false
